#checkout-page{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#checkout-container{
    margin: auto;
    text-align: center;
}